<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about__title">
                    <h2>ABOUT ME</h2>
                    <div class="about__title_line"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="about__info">
                    <div class="col-lg-6">
                        <div class="about__info_img">
                            <img src="img/about/about-image.png" alt="about-image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3>I’m <span>Ostap Vasylenko</span></h3>
                        <p>I'm <span>20</span> years old and I live in <span>Drogobych</span>.
                            <span>Front-end developer</span> and <span>Wordpress developer</span>, I'm passionate about
                            interfaces, from their
                            creation to development. I like to learn more and more about the area, challenges that take
                            me out of my comfort zone are the best for me.
                            <br>
                            <br>
                            I have prototyped and developed <span>Landing Pages</span> and <span>Sites</span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>