<section class="career">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12 d-md-flex">
                <div class="career__info">
                    <h3 class="career__info_title">Education</h3>
                    <div id="career__info_size">
                        <p class="career__info_time">September 2018 - June 2022</p>
                        <p class="career__info_profession">Software development</p>
                        <p class="career__info_place">College of Mechanics and Technology</p>
                    </div>
                    <div id="career__info_size">
                        <p class="career__info_time">September 2022 - Now</p>
                        <p class="career__info_profession">Computer science</p>
                        <p class="career__info_place">Western Ukrainian National University</p>
                    </div>
                </div>
                <div class="career__info">
                    <h3 class="career__info_title" id="career__info_title">Jobs</h3>
                    <div id="career__info_size">
                        <p class="career__info_time">August 2022 - May 2023</p>
                        <p class="career__info_profession">System administrator</p>
                        <p class="career__info_place">BeriVse</p>
                    </div>
                    <div id="career__info_size">
                        <p class="career__info_time">May 2023 - Now</p>
                        <p class="career__info_profession">Wordpress Developer</p>
                        <p class="career__info_place">WebStudio Red</p>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-3 mt-sm-5">
                <h3 class="career__info_title">Courses</h3>
                <p class="career__info_time">October 2022 - April 2023</p>
                <p class="career__info_profession">Front-End</p>
                <p class="career__info_place">IT-Academy STEP</p>
                <img class="career__info_img" src="img/career/sertificate.png" alt="sertificate">
            </div>
        </div>
    </div>
</section>