<section class="form">
    <div class="container d-flex">
        <div class="form__info">
            <span class="form__info_title">
                <h3>CONTACT</h3>
                <div class="form__info_line"></div>
            </span>
            <a class="form__info_text" href="tel:+380688233797"><img src="img/form/phone.png"
                    alt="phone">+380688233797</a>
            <a class="form__info_text" href="https://www.google.com/intl/uk/gmail/about/" target="_blank"><img
                    src="img/form/mail.png" alt="mail">ostapvasilenko55@gmail.com</a>
            <a class="form__info_text" href="#"><img src="img/form/location.png" alt="location">Lviv, Drogobych</a>
            <div class="form__info_line-next"></div>
        </div>
        <div class="form__fields">

        </div>
    </div>
</section>