<section class="hero">
    <div class="hero__img">
        <img src="img/hero/hero.png" alt="">
        <div class="hero__info">
            <h1><span style="color:#13FF00">I’m</span> Ostap Vasylenko</h1>
            <p>Front-End Developer - Wordpress Developer</p>
            <a target="_blank" href="#"><img src="img/hero/inst.png" alt="instagram"></a>
            <a target="_blank" href="#"><img src="img/hero/facebook.png" alt="facebook"></a>
            <a target="_blank" href="#"><img src="img/hero/telegram.png" alt="telegram"></a>
            <a target="_blank" href="https://github.com/ostapvasilenko"><img src="img/github.png" alt=""></a>
        </div>
    </div>
</section>