<section class="hero">
    <div class="hero__img">
        <img src="img/hero/hero.png" alt="">
        <div class="hero__info">
            <h1 class="hero__info_title"><span>I’m</span> Ostap Vasylenko</h1>
            <p class="hero__info_text">Front-End Developer - Wordpress Developer</p>
            <p class="hero__info_description">Front-end developer focused on creating Web application. I really like
                different projects
                that solve real problems.</p>
            <a target="_blank" href="#"><img src="img/hero/inst.png" alt="instagram"></a>
            <a target="_blank" href="#"><img src="img/hero/facebook.png" alt="facebook"></a>
            <a target="_blank" href="#"><img src="img/hero/telegram.png" alt="telegram"></a>
            <a target="_blank" href="https://github.com/ostapvasilenko"><img src="img/github.png" alt=""></a>
        </div>
    </div>
</section>