<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>My Services</h3>
            </div>
            <div class="col-12 d-md-flex">
                <div class="services__info">
                    <div class="services__info_img">
                        <img src="img/services/code-block.png" alt="code-block">
                    </div>
                    <p class="services__info_text">Web Development</p>
                </div>
                <div class="services__info">
                    <div class="services__info_img">
                        <img src="img/services/code-block.png" alt="code-block">
                    </div>
                    <p class="services__info_text">Wordpress Development</p>
                </div>
            </div>
        </div>
    </div>
</section>