<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slider__title">
                    <h2>PROJECTS</h2>
                    <div class="slider__title_line"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/pizza.png" alt="Bayraktar Pizza">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout of a multipage website "Bayraktar Pizza"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="https://github.com/ostapvasilenko/Bayraktar-Pizza" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/r2r.png" alt="R2R">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout and integration of a multi-page website "R2R"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="https://github.com/ostapvasilenko/R2R" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/travel.png" alt="travel to Indonesia">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page "Travel To Indonesia"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="https://github.com/ostapvasilenko/travel-to-indonesia" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/psuchology.png" alt="travel to Indonesia">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page for a psychologist</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="https://github.com/ostapvasilenko/Psychology-LandingPage" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/ascot.png" alt="Ascot">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Editing the entire site (header, footer, forms, images, etc.)</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Wordpress</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://ascotsuites.com/" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/cavan.png" alt="Cavan">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Editing the entire site (header, footer, forms, images, etc.)</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Wordpress</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://cavancompanies.com/" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/cormorant.png" alt="Cormorant">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Editing the entire site (header, footer, forms, images, etc.)</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Wordpress</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://staging-oceaniccormorant.kinsta.cloud/" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/lions-gate.png" alt="Lions-gate">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Editing the entire site (header, footer, forms, images, etc.)</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Wordpress</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://lionsgatehotel.com/" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/mikami.png" alt="Mikami">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Editing the entire site (header, footer, forms, images, etc.)</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Wordpress</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://mikamisushi.com/" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/mountain.png" alt="Mountain">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Editing the entire site (header, footer, forms, images, etc.)</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Wordpress</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://mountainvalleylodge.com/" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/oceanic.png" alt="Oceanic">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Editing the entire site (header, footer, forms, images, etc.)</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Wordpress</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://oceanicenterprises.com/" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/coffee.png" alt="Coffee">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page "Coffee"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="https://github.com/ostapvasilenko/Coffee" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/alivio.png" alt="Alivio">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page "Alivio"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="https://github.com/ostapvasilenko/alivio" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>