<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="slider__title">
                    <h2>PROJECTS</h2>
                    <div class="slider__title_line"></div>
                </div>
            </div>
            <div class="col-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/travel.png" alt="travel to Indonesia">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page "Travel To Indonesia"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/coffee.png" alt="travel to Indonesia">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page "Coffee"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/psuchology.png" alt="travel to Indonesia">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page for a psychologist</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/alivio.png" alt="travel to Indonesia">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page "Alivio"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <img src="img/slider/travel.png" alt="travel to Indonesia">
                            </div>
                            <div class="swiper-slide__info">
                                <h5>Layout landing page "Travel To Indonesia"</h5>
                                <span class="d-flex align-items-center">
                                    <div class="swiper-slide__info_img"
                                        style="background-image: url('../img/slider/code-block.png');">
                                    </div>
                                    <p class="swiper-slide__info_tech">Web Development</p>
                                </span>
                                <span class="d-flex align-items-center justify-content-between mt-3">
                                    <a href="#" target="_blank" class="swiper-slide__info_btn-code">
                                        View Code
                                        <div class="swiper-slide__info_img-btn"
                                            style="background-image: url('../img/slider/arrow.png');">
                                        </div>
                                    </a>
                                    <a href="https://github.com/ostapvasilenko/Travel-Indonesia" target="_blank"
                                        class="swiper-slide__info_btn-live">
                                        Live Preview
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>