.form {
    background-color: #161616;
    padding: 100px 0px;

    &__info {
        background-color: #272727;
        width: 40%;
        border-radius: 20px 0px 0px 20px;
        padding: 70px 0px 70px 70px;
        position: relative;

        &_title {
            display: flex;
        }

        h3 {
            color: #FFFFFF;
            font-size: 20px;
            margin-bottom: 0;
        }

        &_line {
            width: 318px;
            height: 2px;
            background-color: #FFFFFF;
            position: absolute;
            right: 0;

            &-next {
                width: 318px;
                height: 2px;
                background-color: #FFFFFF;
                position: absolute;
                left: 0;
                bottom: 70px;
            }
        }

        &_text {
            margin: 40px 0px;
            text-decoration: none;
            color: #FFFFFF;
            transition: 0.3s all;
            font-size: 18px;
            display: block;

            img {
                margin-right: 20px;
                height: 34px;
                width: 34px;
            }
        }

        &_text:hover {
            color: #13FF00;
            transition: 0.3s all;
        }
    }

    &__container {
        width: 60%;
        background-color: #202020;
        border-radius: 0px 20px 20px 0px;
        padding: 70px 50px;

        &_fields {
            display: flex;
            justify-content: space-between;
        }

        #form__btn {
            background-color: #13FF00;
            padding: 10px 40px;
            font-weight: 600;
            font-size: 20px;
            border-radius: 10px;
            float: right;

            img {
                width: 24px;
                height: 24px;
                margin: 0px 15px 4px 0px;
            }
        }

        form input,
        form textarea {
            height: 46px;
            background-color: #343434;
            border-radius: 10px;
            margin-bottom: 30px;
            padding: 0px 20px;
            color: #FFFFFF;
            border: none;
            width: 100%;

            &::placeholder {
                color: #C1C1C1;
            }
        }

        input:focus,
        textarea:focus {
            border: 1px solid #13FF00;
            outline: none;
            transition: 0.3s all;
        }

        #input-name {
            width: 40%;
        }

        #input-email {
            width: 55%;
        }

        #input-message {
            padding-top: 10px;
            height: 140px;
            margin-bottom: 18px;

            &:focus {
                outline: none;
            }
        }
    }

    @media screen and(max-width:1400px) {
        &__info {
            padding: 70px 0px 70px 40px;

            &_line {
                width: 50%;

                &-next {
                    width: 50%;
                }
            }
        }
    }

    @media screen and(max-width:1200px) {
        & {
            padding: 60px 0px;

            &__info {
                padding: 70px 0px 70px 20px;

                &_line {
                    width: 50%;

                    &-next {
                        width: 50%;
                    }
                }
            }

            &__container {
                padding: 70px 30px;
            }
        }
    }

    @media screen and(max-width:992px) {
        & {
            &__info {
                padding: 120px 0px 120px 20px;

                &_line {
                    width: 50%;

                    &-next {
                        width: 50%;
                        bottom: 120px;
                    }
                }

                &_text {
                    font-size: 14px;
                    margin: 25px 0px;

                    img {
                        margin-right: 12px;
                        height: 24px;
                        width: 24px;
                    }
                }
            }

            &__container {
                padding: 50px 30px 30px;
            }
        }
    }

    @media screen and(max-width:768px) {
        & {
            padding: 40px 0px;

            &__info {
                padding: 30px;
                width: 100%;
                border-radius: 20px 20px 0px 0px;

                &_line {
                    width: 50%;

                    &-next {
                        width: 50%;
                        bottom: 30px;
                    }
                }

                &_text {
                    font-size: 16px;
                    margin: 30px 0px;
                }
            }

            &__container {
                padding: 30px 30px 70px;
                width: 100%;
                border-radius: 0px 0px 20px 20px;

                #form__btn {
                    width: 100%;
                }

                #input-message {
                    height: 100px;
                }
            }
        }
    }

    @media screen and(max-width:576px) {
        & {
            padding: 30px 0px;

            &__info {
                padding: 20px 20px 20px 15px;
                width: 100%;
                border-radius: 20px 20px 0px 0px;

                &_title {
                    h3 {
                        font-size: 18px;
                    }
                }

                &_line {
                    width: 50%;
                    height: 1px;

                    &-next {
                        width: 50%;
                        height: 1px;
                        bottom: 20px;
                    }
                }

                &_text {
                    font-size: 15px;
                    margin: 20px 0px;

                    img {
                        margin-right: 10px;
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            &__container {
                padding: 20px 20px 70px;
                border-radius: 0px 0px 20px 20px;

                #form__btn {
                    padding: 8px 0px;
                    font-size: 18px;
                }

                #input-message {
                    height: 70px;
                }

                form input,
                form textarea {
                    height: 36px;
                    margin-bottom: 20px;
                    font-size: 14px;
                }
            }
        }
    }
}