.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 69, 69, 0.9);

    &__navigation {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            padding-left: 0;

            li {
                padding: 0px 25px;

                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-family: Poppins;
                    font-weight: 600;
                    color: #ffffff;
                    transition: 0.5s all;

                }

                :hover {
                    color: #13FF00;
                    transition: 0.5s all;
                }
            }
        }
    }

    @media screen and(max-width:992px) {
        &__navigation {
            ul {
                li {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    @media screen and(max-width:768px) {
        &__navigation {
            ul {
                li {
                    padding: 0px 15px;

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media screen and(max-width:576px) {
        & {
            padding: 10px 0px;

            &__navigation {
                ul {
                    li {
                        padding: 0px 9px;

                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}