.services {
    background-color: #161616;
    padding: 40px 0px;

    h3 {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }

    &__info {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        &_img {
            img {
                object-fit: contain;
                height: 52px;
                width: 52px;
            }
        }

        &_text {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 18px;
            margin: 0px 0px 0px 15px;
        }
    }

    @media screen and(max-width:992px) {
        h3 {
            font-size: 22px;
        }

        &__info {
            margin-top: 10px;

            &_img {
                img {
                    height: 42px;
                    width: 42px;
                }
            }
        }
    }

    @media screen and(max-width:768px) {
        & {
            padding: 30px 0px;

            h3 {
                font-size: 20px;
            }

            &__info {
                margin-top: 10px;
                width: 100%;

                &_img {
                    img {
                        height: 36px;
                        width: 36px;
                    }
                }
            }
        }
    }

    @media screen and(max-width:576px) {
        & {
            padding: 20px 0px;

            h3 {
                font-size: 18px;
            }

            &__info {
                margin-top: 10px;

                &_img {
                    img {
                        height: 26px;
                        width: 26px;
                    }
                }

                &_text {
                    font-size: 16px;
                }
            }
        }
    }
}